.login-form-group {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.login-form-group .login-form {
  width: 350px;
  min-height: 350px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #657429;
  padding: 20px 0;
  margin: 0 20px;
}

@media screen and (max-width: 288px) {
  .login-form-group .login-form {
    width: 180px;
  }
}

.login-form-group .input-group {
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form-group .input-group label {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.login-form-group .input-group input {
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  outline: none;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.login-form-group .input-group input:valid {
  background-color: #939c1f;
  color: white;
}

.login-form-group .input-group .pass {
  font-size: 25px;
}

@media screen and (max-width: 288px) {
  .login-form-group .input-group {
    width: 150px;
  }
  .login-form-group .input-group label {
    font-size: 15px;
  }
  .login-form-group .input-group input {
    width: 150px;
    height: 30px;
  }
}

.login-message {
  color: white;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0 5px;
}

@media screen and (max-width: 290px) {
  .login-message {
    font-size: 13px;
  }
}

.reset-pass-message {
  cursor: pointer;
}

.reset-pass-message:hover {
  color: #ca4e0c;
}
/*# sourceMappingURL=Login.css.map */