@import "../../variables";

.register-form-group {
  //   background-color: $secondColor;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  .register-form {
    min-height: 350px;
    box-shadow: 0 4px 7px 1px gray;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $mainColor;
    padding: 20px 0;
    margin: 0 50px;
  }
  @media screen and (max-width: 1400px) {
    .register-form {
      justify-content: center;
    }
  }
  @media screen and (max-width: 336px) {
    .register-form {
      margin: 20px 20px 0;
    }
  }
  @media screen and (max-width: 288px) {
    .register-form {
      width: 180px;
    }
  }
  .input-group {
    // background-color: bisque;
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    label {
      font-family: $titleFont;
      letter-spacing: 1px;
      font-size: 20px;
      color: white;
      text-align: center;
      margin-top: 10px;
      //   background-color: red;
    }
    input {
      border: 1px solid grey;
      border-radius: 10px;
      height: 40px;
      width: 200px;
      outline: none;
      padding: 0 10px;
      font-family: $normalFont;
      letter-spacing: 1px;
      &:valid {
        background-color: $secondColor;
        color: white;
      }
      // &:invalid {
      //   background-color: rgb(196, 196, 196);
      //   color: white;
      // }
    }
    .pass {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 288px) {
    .input-group {
      width: 150px;
      label {
        font-size: 15px;
      }
      input {
        width: 150px;
        height: 30px;
      }
    }
  }
}

.roleSelect {
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  outline: none;
  padding: 0 10px;
  font-family: $normalFont;
  letter-spacing: 1px;
}
@media screen and (max-width: 288px) {
  .roleSelect {
    width: 150px;
    height: 30px;
  }
}

.register-textarea {
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-family: $normalFont;
  letter-spacing: 1px;
  width: 200px;
  &:valid {
    background-color: $secondColor;
    color: white;
  }
  // &:invalid {
  //   background-color: rgb(196, 196, 196);
  //   color: white;
  // }
}
@media screen and (max-width: 288px) {
  .register-textarea {
    width: 150px;
  }
}

.register-message {
  color: white;
  letter-spacing: 1px;
  font-family: $normalFont;
  text-align: center;
  padding: 0 5px;
}

@media screen and (max-width: 290px) {
  .register-message {
    font-size: 13px;
  }
}
