.register-form-group {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.register-form-group .register-form {
  min-height: 350px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #657429;
  padding: 20px 0;
  margin: 0 50px;
}

@media screen and (max-width: 1400px) {
  .register-form-group .register-form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 336px) {
  .register-form-group .register-form {
    margin: 20px 20px 0;
  }
}

@media screen and (max-width: 288px) {
  .register-form-group .register-form {
    width: 180px;
  }
}

.register-form-group .input-group {
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.register-form-group .input-group label {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.register-form-group .input-group input {
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  outline: none;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.register-form-group .input-group input:valid {
  background-color: #939c1f;
  color: white;
}

.register-form-group .input-group .pass {
  font-size: 25px;
}

@media screen and (max-width: 288px) {
  .register-form-group .input-group {
    width: 150px;
  }
  .register-form-group .input-group label {
    font-size: 15px;
  }
  .register-form-group .input-group input {
    width: 150px;
    height: 30px;
  }
}

.roleSelect {
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  outline: none;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

@media screen and (max-width: 288px) {
  .roleSelect {
    width: 150px;
    height: 30px;
  }
}

.register-textarea {
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  width: 200px;
}

.register-textarea:valid {
  background-color: #939c1f;
  color: white;
}

@media screen and (max-width: 288px) {
  .register-textarea {
    width: 150px;
  }
}

.register-message {
  color: white;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0 5px;
}

@media screen and (max-width: 290px) {
  .register-message {
    font-size: 13px;
  }
}
/*# sourceMappingURL=Register.css.map */