@import "../../variables";
.home-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  // min-height: 100%;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-link {
    width: 140px;
    height: 50px;
    background-color: $contrastColor;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: $titleFont;
    letter-spacing: 1px;
    &:hover {
      background-color: $secondContrastColor;
    }
  }

  h1 {
    // background-color: red;
    margin-bottom: 40px;
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding: 0 50px;
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 140%;
  }
  @media screen and (max-width: 620px) {
    h1 {
      font-size: 25px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 351px) {
    h1 {
      font-size: 20px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 289px) {
    h1 {
      font-size: 17px;
      padding: 0 20px;
    }
  }
}
