.home-banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner .home-link {
  width: 140px;
  height: 50px;
  background-color: #ca4e0c;
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.home-banner .home-link:hover {
  background-color: #a93b00;
}

.home-banner h1 {
  margin-bottom: 40px;
  width: 100%;
  font-size: 36px;
  text-align: center;
  padding: 0 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 140%;
}

@media screen and (max-width: 620px) {
  .home-banner h1 {
    font-size: 25px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 351px) {
  .home-banner h1 {
    font-size: 20px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 289px) {
  .home-banner h1 {
    font-size: 17px;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=BannerHome.css.map */