@import "../../variables";
.producer-description {
  //   background-color: red;
  width: 100%;
  min-height: 200px;
  padding: 0 50px 50px;
  p {
    font-family: $normalFont;
    width: 70%;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    margin: 0 auto;
  }
  @media screen and (max-width: 726px) {
    p {
      width: 90%;
    }
  }
  @media screen and (max-width: 561px) {
    p {
      width: 100%;
      font-size: 15px;
    }
  }
}
