.producer-description {
  width: 100%;
  min-height: 200px;
  padding: 0 50px 50px;
}

.producer-description p {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 726px) {
  .producer-description p {
    width: 90%;
  }
}

@media screen and (max-width: 561px) {
  .producer-description p {
    width: 100%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=Producer.css.map */