@import "../../variables";

.btn {
  width: 130px;
  height: 35px;
  // background-color: red;
  border: none;
  margin: 5px 0 5px;
  font-family: $normalFont;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $mainColor;
  color: white;
  outline: none;
  &:hover {
    background-color: $secondColor;
  }
}
