.btn {
  width: 130px;
  height: 35px;
  border: none;
  margin: 5px 0 5px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #657429;
  color: white;
  outline: none;
}

.btn:hover {
  background-color: #939c1f;
}
/*# sourceMappingURL=Button.css.map */