@import "../../variables";

.manage-products-container {
  width: 50%;
  margin: auto;
  min-height: 100px;
  //   background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
@media screen and (max-width: 646px) {
  .manage-products-container {
    flex-direction: column;
    width: 100%;
  }
}
