@import "../../variables";

.error-container {
  //   background-color: red;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error-btn {
    width: 140px;
    height: 50px;
    background-color: $contrastColor;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: $titleFont;
    letter-spacing: 1px;
    &:hover {
      background-color: $secondContrastColor;
    }
  }
}
