.indicatii-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 0 50px;
}

.indicatii-item {
  padding: 20px;
  text-align: start;
}

.indicatii-item p,
.indicatii-item ul {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 140%;
}

.indicatii-item h1 {
  margin-bottom: 20px;
}

.indicatii-image {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
}

@media (max-width: 950px) {
  .indicatii-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=Indications.css.map */