@import "../../variables";
.indicatii-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 50px;
}
.indicatii-item {
  padding: 20px;
  text-align: start;

  p,
  ul {
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 140%;
  }
  h1 {
    margin-bottom: 20px;
  }
}
.indicatii-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 7px 1px gray;
}

@media (max-width: 950px) {
  .indicatii-container {
    grid-template-columns: auto;
  }
}
