.product-card-container {
  width: 200px;
  height: 350px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.product-card-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.product-card-container .product-card-photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 45%;
}

.product-card-container .product-card-photo img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
}

.product-card-container .product-card-description {
  width: 100%;
  height: 55%;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.product-card-container .product-card-description h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

.product-card-container .product-card-description h5 {
  margin-bottom: 15px;
  font-size: 13px;
}

@media screen and (max-width: 311px) {
  .product-card-container .product-card-description {
    letter-spacing: 1px;
  }
  .product-card-container .product-card-description h3 {
    font-size: 15px;
  }
  .product-card-container .product-card-description h5 {
    font-size: 10px;
  }
}
/*# sourceMappingURL=ProductCard.css.map */