@import "../../variables";

.product-card-container {
  //   background-color: aqua;
  width: 200px;
  height: 350px;
  box-shadow: 0 4px 7px 1px gray;
  margin: 20px;
  border-radius: 10px;
  background-color: white;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  .product-card-photo {
    // background-color: green;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 45%;
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 100%;
    }
  }
  .product-card-description {
    // background-color: yellow;
    width: 100%;
    height: 55%;
    padding: 10px;

    font-family: $normalFont;
    letter-spacing: 1px;
    h3 {
      font-family: $titleFont;
      margin-bottom: 10px;
      font-size: 18px;
    }
    h5 {
      margin-bottom: 15px;
      font-size: 13px;
    }
  }
}
@media screen and (max-width: 311px) {
  .product-card-container {
    .product-card-description {
      letter-spacing: 1px;
      h3 {
        font-size: 15px;
      }
      h5 {
        font-size: 10px;
      }
    }
  }
}
