@import "../../variables";

.shop-cart {
  display: grid;
  grid-template-columns: 25% auto 8%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  // box-shadow: 0 0px 0.2px 0.2px gray;
  box-shadow: 0 4px 7px 1px gray;
  border-radius: 10px;
  font-family: $normalFont;
}
.shop-cart-image {
  //   width: 100%;
  height: 160px;
  width: 150px;
  padding-right: 10px;
}
.shop-cart-close {
  div {
    cursor: pointer;
  }
}
.shop-cart-mid {
  display: grid;
  grid-template-columns: 30% 65% 5%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.modal-delete-text {
  cursor: pointer;
  color: $contrastColor;

  &:hover {
    color: $secondContrastColor;
  }
}

@media (max-width: 1058px) {
  .shop-cart {
    grid-template-columns: auto;
    .shop-cart-image {
      padding: 0;
      width: 100%;
    }
  }
  .shop-cart-mid {
    display: grid;
    grid-template-columns: 45% auto;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media (max-width: 420px) {
  .shop-cart-mid {
    p {
      font-size: 10px;
    }
  }
}
