.shop-cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto 8%;
      grid-template-columns: 25% auto 8%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.shop-cart-image {
  height: 160px;
  width: 150px;
  padding-right: 10px;
}

.shop-cart-close div {
  cursor: pointer;
}

.shop-cart-mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 65% 5%;
      grid-template-columns: 30% 65% 5%;
}

.shop-cart-mid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal-delete-text {
  cursor: pointer;
  color: #ca4e0c;
}

.modal-delete-text:hover {
  color: #a93b00;
}

@media (max-width: 1058px) {
  .shop-cart {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .shop-cart .shop-cart-image {
    padding: 0;
    width: 100%;
  }
  .shop-cart-mid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% auto;
        grid-template-columns: 45% auto;
  }
  .shop-cart-mid div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 420px) {
  .shop-cart-mid p {
    font-size: 10px;
  }
}
/*# sourceMappingURL=ShopCartProduct.css.map */