@import "../../variables";
.title {
  padding: 50px;
  height: 150px;
  // background-color: red;
  width: 100%;
  // padding: 0 50px;
  font-size: 2.1rem;
  font-family: $titleFont;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $secondColor;
  word-spacing: 6px;
  // background-color: red;
  text-align: center;
}
@media screen and (max-width: 486px) {
  .title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 428px) {
  .title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 236px) {
  .title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 296px) {
  .title {
    padding: 50px 20px;
  }
}
