.title {
  padding: 50px;
  height: 150px;
  width: 100%;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #939c1f;
  word-spacing: 6px;
  text-align: center;
}

@media screen and (max-width: 486px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 428px) {
  .title {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 236px) {
  .title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 296px) {
  .title {
    padding: 50px 20px;
  }
}
/*# sourceMappingURL=Title.css.map */