@import "../../variables";

.info-card-container {
  background-color: beige;
  width: 250px;
  height: 300px;
  //   margin-right: 50px;
  margin: 0 20px;
  margin-bottom: 50px;
  box-shadow: 0 4px 7px 1px gray;
  border-radius: 10px;

  .info-card-photo {
    // background-color: green;
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10xp;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .info-card-description {
    background-color: white;
    width: 100%;
    height: 50%;
    font-family: $normalFont;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 296px) {
  .info-card-container {
    width: 180px;
    .info-card-description {
      font-size: 12px;
    }
  }
}
