.info-card-container {
  background-color: beige;
  width: 250px;
  height: 300px;
  margin: 0 20px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  border-radius: 10px;
}

.info-card-container .info-card-photo {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10xp;
}

.info-card-container .info-card-photo img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-card-container .info-card-description {
  background-color: white;
  width: 100%;
  height: 50%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 296px) {
  .info-card-container {
    width: 180px;
  }
  .info-card-container .info-card-description {
    font-size: 12px;
  }
}
/*# sourceMappingURL=InfoCard.css.map */