.home-details-container {
  width: 100%;
  min-height: 200px;
  padding: 0 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-details-container p {
  font-family: "Montserrat", sans-serif;
  width: 70%;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  margin: 0 auto 50px;
}

@media screen and (max-width: 726px) {
  .home-details-container p {
    width: 90%;
  }
}

@media screen and (max-width: 561px) {
  .home-details-container p {
    width: 100%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=HomeDetails.css.map */