@import "../../variables";

.home-details-container {
  width: 100%;
  min-height: 200px;
  padding: 0 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: red;

  p {
    font-family: $normalFont;
    width: 70%;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    margin: 0 auto 50px;
  }
  @media screen and (max-width: 726px) {
    p {
      width: 90%;
    }
  }
  @media screen and (max-width: 561px) {
    p {
      width: 100%;
      font-size: 15px;
    }
  }
}
