.general-infos-container {
  width: 100%;
  min-height: 100px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.general-infos-container .general-info-container {
  width: 200px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 20px;
}

.general-infos-container .general-info-container .general-info-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.general-infos-container .general-info-container .general-info-description {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 581px) {
  .general-infos-container {
    padding: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.more-infos {
  width: 100%;
  min-height: 100px;
  padding: 50px;
  text-align: center;
}

.more-infos .more-infos-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 10px;
}

.more-infos .more-infos-content {
  width: 70%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 160%;
  font-size: 16px;
}

@media screen and (max-width: 966px) {
  .more-infos .more-infos-content {
    width: 90%;
  }
}

@media screen and (max-width: 476px) {
  .more-infos .more-infos-content {
    width: 100%;
  }
}

@media screen and (max-width: 371px) {
  .more-infos {
    padding: 50px 20px;
  }
}

.photo-galery {
  width: 100%;
  min-height: 500px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo-galery .photo-galery-item {
  width: 300px;
  height: 400px;
  background-color: red;
  margin: 0 20px 20px;
  min-width: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
}

.photo-galery .photo-galery-item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 347px) {
  .photo-galery .photo-galery-item {
    height: 300px;
  }
}

@media screen and (max-width: 706px) {
  .photo-galery {
    padding: 50px 0;
  }
}
/*# sourceMappingURL=Product.css.map */