@import "../../variables";

.general-infos-container {
  //   background-color: $secondColor;
  //   color: white;
  width: 100%;
  min-height: 100px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .general-info-container {
    // background-color: bisque;
    width: 200px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px;

    .general-info-title {
      font-family: $titleFont;
      letter-spacing: 1px;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }
    .general-info-description {
      font-family: $normalFont;
      letter-spacing: 1px;
      font-size: 14px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 581px) {
  .general-infos-container {
    padding: 50px 0;
    justify-content: space-around;
  }
}

.more-infos {
  //   background-color: aqua;
  width: 100%;
  min-height: 100px;
  padding: 50px;
  text-align: center;
  .more-infos-title {
    font-family: $titleFont;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .more-infos-content {
    width: 70%;
    margin: auto;
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 160%;
    font-size: 16px;
  }
  @media screen and (max-width: 966px) {
    .more-infos-content {
      width: 90%;
    }
  }
  @media screen and (max-width: 476px) {
    .more-infos-content {
      width: 100%;
    }
  }
}
@media screen and (max-width: 371px) {
  .more-infos {
    padding: 50px 20px;
  }
}
.photo-galery {
  width: 100%;
  min-height: 500px;
  padding: 50px;
  // background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  .photo-galery-item {
    width: 300px;
    height: 400px;
    background-color: red;
    margin: 0 20px 20px;
    min-width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 7px 1px gray;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  @media screen and (max-width: 347px) {
    .photo-galery-item {
      height: 300px;
    }
  }
}
@media screen and (max-width: 706px) {
  .photo-galery {
    padding: 50px 0;
  }
}
