.producers-list-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 50px;
  flex-wrap: wrap;
  // background-color: red;
}
@media screen and (max-width: 576px) {
  .producers-list-container {
    padding: 0;
    justify-content: space-around;
  }
}
