@import "../../variables";
.products-list-container {
  // background-color: red;
  width: 100%;
  min-height: 300px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .link {
    text-decoration: none;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: $mainColor;
    &:hover {
      background-color: $secondColor;
    }
  }
}
@media screen and (max-width: 580px) {
  .products-list-container {
    justify-content: space-around;
    padding: 50px 0 0;
  }
}
