@import "../../variables";

.info-list-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 50px;
  flex-wrap: wrap;

  //   background-color: red;
}
@media screen and (max-width: 716px) {
  .info-list-container {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 396px) {
  .info-list-container {
    padding: 0 0;
  }
}
