nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background: #657429;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: auto;
}

nav .logo p {
  font-size: 50px;
  height: 70px;
  margin-left: 30px;
  font-family: "DM Serif Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  letter-spacing: 2px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li .a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li .a:hover {
  color: white;
  background-color: #ca4e0c;
}

nav .menu-btn i {
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.cart {
  font-size: 20px;
}

@media (max-width: 1200px) {
  nav {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 1035px) {
  nav {
    padding: 0 10px 0 20px;
  }
  nav ul li {
    margin: 0 2px;
  }
}

@media (max-width: 962px) {
  nav {
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 440px) {
  nav .logo p {
    font-size: 45px;
    margin-left: 10px;
  }
}

@media (max-width: 364px) {
  nav .logo p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 0 30px 0 30px;
    top: 0;
  }
  nav .menu-btn i {
    display: block;
    color: white;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #939c1f;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li .a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 17px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li .a {
    margin-left: 0px;
  }
  nav ul li .a.active,
  nav ul li .a:hover {
    background: none;
    color: white;
  }
}

@media screen and (max-width: 410px) {
  nav {
    padding: 0 30px 0 20px;
  }
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  width: 400px;
  position: absolute;
  top: 27px;
  right: 0;
  background-color: #657429;
  display: none;
  z-index: 1000;
  border: 1px solid black;
  border-radius: 10px;
}

.dropdown-shop-cart-total {
  background-color: #657429;
}

.dropdown-shop-cart-total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.dropdown-shop-cart-total .dropdown-shop-cart-button {
  margin-top: 20px;
  background-color: #ca4e0c;
  border: none;
  padding: 5px 10px;
  width: 100%;
  color: white;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  cursor: pointer;
  border-radius: 7px;
}

.dropdown-shop-cart-total .dropdown-shop-cart-button:hover {
  background-color: #a93b00;
}

.dropdown-shop-cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  background-color: #657429;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0px 0.2px 0.2px gray;
          box-shadow: 0 0px 0.2px 0.2px gray;
}

.dropdown-shop-cart-image {
  width: 100%;
  padding-right: 10px;
}

.dropdown-shop-cart-close div {
  cursor: pointer;
}

.dropdown-shop-cart-mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.dropdown-shop-cart-mid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */