@import "../../variables";

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: $mainColor;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 20px;
  flex-wrap: wrap;
  font-family: $normalFont;
}
nav .logo {
  display: flex;
  min-width: 50px;
  justify-content: space-around;
  align-items: flex-start;
  width: auto;

  p {
    font-size: 50px;
    height: 70px;
    margin-left: 30px;
    font-family: $logoSecondFont;
    display: flex;
    align-items: center;
    color: white;
    letter-spacing: 2px;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li .a {
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  font-family: $titleFont;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li .a:hover {
  color: white;
  background-color: $contrastColor;
}
nav .menu-btn i {
  // color: $firstContrastColor;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
.cart {
  font-size: 20px;
}
@media (max-width: 1200px) {
  nav {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 1035px) {
  // nav ul li .a {
  //   font-size: 11px;
  // }
  nav {
    padding: 0 10px 0 20px;
  }
  nav ul li {
    margin: 0 2px;
  }
}
@media (max-width: 962px) {
  nav {
    padding: 0 10px 0 30px;
  }
}

// @media (max-width: 651px) {
//   nav .logo {
//     p {
//       font-size: 30px;
//       margin-left: 30px;
//     }
//   }
// }

@media (max-width: 440px) {
  nav .logo {
    p {
      font-size: 45px;
      margin-left: 10px;
    }
  }
}
@media (max-width: 364px) {
  nav .logo {
    p {
      font-size: 30px;
    }
  }
}

@media (max-width: 1000px) {
  nav {
    padding: 0 30px 0 30px;
    // position: fixed;
    top: 0;
  }
  nav .menu-btn i {
    display: block;
    color: white;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: $secondColor;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 999;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li .a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 17px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li .a {
    margin-left: 0px;
  }
  nav ul li .a.active,
  nav ul li .a:hover {
    background: none;
    color: white;
  }
}
@media screen and (max-width: 410px) {
  nav {
    padding: 0 30px 0 20px;
  }
}

.dropdown {
  position: relative;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}
.dropdown-content {
  width: 400px;
  position: absolute;
  top: 27px;
  right: 0;
  background-color: #657429;
  display: none;
  z-index: 1000;
  border: 1px solid black;
  border-radius: 10px;
}

.dropdown-shop-cart-total {
  // padding: 20px;
  background-color: #657429;
  div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .dropdown-shop-cart-button {
    margin-top: 20px;
    background-color: #ca4e0c;
    border: none;
    padding: 5px 10px;
    width: 100%;
    color: white;
    letter-spacing: 1px;
    font-family: $normalFont;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $secondContrastColor;
    }
    border-radius: 7px;
  }
}
.dropdown-shop-cart {
  display: grid;
  grid-template-columns: 30% 70%;
  // padding: 20px;
  background-color: #657429;
  margin-bottom: 20px;
  box-shadow: 0 0px 0.2px 0.2px gray;
}
.dropdown-shop-cart-image {
  width: 100%;
  padding-right: 10px;
}
.dropdown-shop-cart-close {
  div {
    cursor: pointer;
  }
}
.dropdown-shop-cart-mid {
  // background-color: pink;
  display: grid;
  grid-template-columns: 40% 60%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .dropdown {
    &:hover {
      .dropdown-content {
        display: none;
      }
    }
  }
}

