@import "../../variables";

.grid-container {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  background: $mainColor;
  max-width: 1366px;
  margin: auto;
  color: white;
  font-family: $normalFont;
  min-height: 240px;
}
.grid-item {
  padding: 20px 50px;
  text-align: left;
  h1 {
    margin-bottom: 20px;
    font-family: $titleFont;
    letter-spacing: 1px;
    font-size: 22px;
  }
  p {
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 140%;
    font-size: 14px;
  }
}

.img-logo {
  width: 100%;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 1390px) {
  .grid-container {
    grid-template-columns: 35% 35% 30%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: auto;
    height: auto;
  }
  .grid-item {
    text-align: center;
  }
  .img-logo {
    width: 40%;
  }
}
