.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 35% 30%;
      grid-template-columns: 35% 35% 30%;
  background: #657429;
  max-width: 1366px;
  margin: auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  min-height: 240px;
}

.grid-item {
  padding: 20px 50px;
  text-align: left;
}

.grid-item h1 {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.grid-item p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 140%;
  font-size: 14px;
}

.img-logo {
  width: 100%;
  border-radius: 10px;
}

.img-logo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 1390px) {
  .grid-container {
    -ms-grid-columns: 35% 35% 30%;
        grid-template-columns: 35% 35% 30%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
  }
  .grid-item {
    text-align: center;
  }
  .img-logo {
    width: 40%;
  }
}
/*# sourceMappingURL=Footer.css.map */