.button {
  width: 130px;
  height: 35px;
  border: none;
  margin: 5px 0 5px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #657429;
  color: white;
  border: none;
  outline: none;
}

.button:hover {
  background-color: #939c1f;
}
/*# sourceMappingURL=SimpleButton.css.map */