@import "../../variables";

.button {
  width: 130px;
  height: 35px;
  //   background-color: red;
  border: none;
  margin: 5px 0 5px;
  font-family: $normalFont;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  background-color: $mainColor;
  color: white;
  border: none;
  outline: none;
  &:hover {
    background-color: $secondColor;
  }
}
