@import "../../variables";
.shop-cart-container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 50px;
}
.shop-cart-item {
  padding: 20px;
  text-align: start;

  p,
  ul {
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 140%;
  }
  h1 {
    margin-bottom: 20px;
  }
}

.shop-cart-total {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 7px 1px gray;

  div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .shop-cart-button {
    margin-top: 20px;
    background-color: #ca4e0c;
    border: none;
    padding: 5px 10px;
    width: 100%;
    font-family: $normalFont;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: $secondContrastColor;
    }
    border-radius: 7px;
    outline: none;
  }
}

.submit-order-message {
  font-family: $normalFont;
  letter-spacing: 1px;
  margin: 5px 0;
}

@media (max-width: 1058px) {
  .shop-cart-container {
    grid-template-columns: auto;
  }
}

@media (max-width: 420px) {
  .shop-cart-container {
   padding: 0;
  }
}
