.shop-cart-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  padding: 0 50px;
}

.shop-cart-item {
  padding: 20px;
  text-align: start;
}

.shop-cart-item p,
.shop-cart-item ul {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 140%;
}

.shop-cart-item h1 {
  margin-bottom: 20px;
}

.shop-cart-total {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
}

.shop-cart-total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.shop-cart-total .shop-cart-button {
  margin-top: 20px;
  background-color: #ca4e0c;
  border: none;
  padding: 5px 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  outline: none;
}

.shop-cart-total .shop-cart-button:hover {
  background-color: #a93b00;
}

.submit-order-message {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  margin: 5px 0;
}

@media (max-width: 1058px) {
  .shop-cart-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (max-width: 420px) {
  .shop-cart-container {
    padding: 0;
  }
}
/*# sourceMappingURL=ShopCart.css.map */