.producer-card-container {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 7px 1px gray;
          box-shadow: 0 4px 7px 1px gray;
  margin: 0 20px 50px;
  background-color: white;
}

.producer-card-container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.producer-card-container p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
}

.producer-card-container .link {
  text-decoration: none;
  color: white;
  background-color: #657429;
  margin-top: 10px;
  width: 80px;
  height: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 7px;
}

.producer-card-container .link:hover {
  background-color: #657429;
}
/*# sourceMappingURL=ProducerCard.css.map */