@import "../../variables";

.producer-card-container {
  //   background-color: blue;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 7px 1px gray;
  margin: 0 20px 50px;
  background-color: white;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }

  p {
    font-family: $titleFont;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
  }
  .link {
    text-decoration: none;
    color: white;
    background-color: $mainColor;
    margin-top: 10px;
    width: 80px;
    height: 20px;
    text-align: center;
    font-family: $normalFont;
    letter-spacing: 1px;
    border-radius: 7px;
    &:hover {
      background-color: $mainColor;
    }
  }
}
