@import "../../variables";

.form-group {
  //   background-color: tomato;
  width: 100%;
  min-height: 200px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  .filter-group {
    // background-color: red;
    width: 150px;
    height: 100px;
    margin: 20px;
    .price-input {
      width: 120px;
      cursor: pointer;
    }
    label {
      font-family: $titleFont;
      letter-spacing: 1px;
    }
    .filter-input {
      margin-top: 10px;
      width: 130px;
      height: 25px;
      outline: none;
      border: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      //   box-shadow: 0 0px 0.2px 0.2px gray;
      border: 1px solid grey;
    }
    .icon {
      display: inline-block;
      background-color: $contrastColor;
      height: 25px;
      width: 30px;

      text-align: center;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      //   box-shadow: 0 0px 0.2px 0.4px $contrastColor;

      cursor: pointer;

      i {
        font-size: 15px;
        color: white;
      }
    }
    select {
      display: block;
      margin-top: 10px;
      height: 25px;
      width: 130px;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
    }
    .price-input {
      border-radius: 10px;
      text-align: center;
    }
    span {
      font-family: $normalFont;
      letter-spacing: 1px;
    }
    .check-input {
      display: block;
      width: 25px;
      height: 25px;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 578px) {
  .form-group {
    padding: 50px 0;
    justify-content: space-around;
  }
}
@media screen and (max-width: 361px) {
  .form-group {
    padding: 50px 0;
    justify-content: space-around;
  }
}
