.form-group {
  width: 100%;
  min-height: 200px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group .filter-group {
  width: 150px;
  height: 100px;
  margin: 20px;
}

.form-group .filter-group .price-input {
  width: 120px;
  cursor: pointer;
}

.form-group .filter-group label {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.form-group .filter-group .filter-input {
  margin-top: 10px;
  width: 130px;
  height: 25px;
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid grey;
}

.form-group .filter-group .icon {
  display: inline-block;
  background-color: #ca4e0c;
  height: 25px;
  width: 30px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.form-group .filter-group .icon i {
  font-size: 15px;
  color: white;
}

.form-group .filter-group select {
  display: block;
  margin-top: 10px;
  height: 25px;
  width: 130px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.form-group .filter-group .price-input {
  border-radius: 10px;
  text-align: center;
}

.form-group .filter-group span {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.form-group .filter-group .check-input {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 578px) {
  .form-group {
    padding: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 361px) {
  .form-group {
    padding: 50px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=Filters.css.map */