$mainColor: #657429;
$secondColor: #939c1f;
$backgroundColor: #f2f0eb;
$contrastColor: #ca4e0c;
$secondContrastColor: #a93b00;

$logoFont: "Teko", sans-serif; // regular 400 sau medium 500
$logoSecondFont: "DM Serif Display", serif;
$titleFont: "Roboto", sans-serif;
$normalFont: "Montserrat", sans-serif;

// $firstContrastColor: #262525;
// $thirdContrastColor: #a7a2a9;
// $buttonColor: #a93b00;
// $buttonContrastColor: #bfb1c1;

// $mainColor: #3a6149;
// $secondColor: #9dc486;
// $backgroundColor: #f2f0eb;
// $contrastColor: #edbb4c;
// $secondContrastColor: #a93b00;
