@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.link-button {
  width: 130px;
  height: 35px;
  // background-color: red;
  border: none;
  margin: 5px 0 5px;
  font-family: $normalFont;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $contrastColor;
  color: white;
  outline: none;
  &:hover {
    background-color: $secondContrastColor;
  }
}

.link-second-button {
  width: 130px;
  height: 35px;
  // background-color: red;
  border: none;
  margin: 5px 0 5px;
  font-family: $normalFont;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  color: white;
  &:hover {
    background-color: $secondColor;
  }
}
