* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.link-button {
  width: 130px;
  height: 35px;
  border: none;
  margin: 5px 0 5px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ca4e0c;
  color: white;
  outline: none;
}

.link-button:hover {
  background-color: #a93b00;
}

.link-second-button {
  width: 130px;
  height: 35px;
  border: none;
  margin: 5px 0 5px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #657429;
  color: white;
}

.link-second-button:hover {
  background-color: #939c1f;
}
/*# sourceMappingURL=App.css.map */