.product-details-form-group {
  width: 100%;
  min-height: 300px;
  padding: 50px 0 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-details-form-group .product-details-input-group {
  width: 250px;
  min-height: 80px;
  margin: 0 50px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-details-form-group .product-details-input-group label {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  color: #939c1f;
  text-align: left;
}

.product-details-form-group .product-details-input-group input {
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  outline: none;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.product-details-form-group .product-details-input-group input:valid {
  background-color: #939c1f;
  color: white;
}

.product-details-form-group .product-details-input-group .register-textarea {
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  width: 200px;
  margin-top: 16px;
}

@media screen and (max-width: 288px) {
  .product-details-form-group .product-details-input-group {
    width: 150px;
  }
  .product-details-form-group .product-details-input-group label {
    font-size: 15px;
  }
  .product-details-form-group .product-details-input-group input {
    width: 150px;
    height: 30px;
  }
  .product-details-form-group .product-details-input-group .register-textarea {
    width: 150px;
  }
}

.product-details-buttons-container {
  width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=ProductDetails.css.map */