@import "../../variables";

.product-details-form-group {
  //   background-color: bisque;
  width: 100%;
  min-height: 300px;
  padding: 50px 0 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  .product-details-input-group {
    width: 250px;
    min-height: 80px;
    // background-color: blanchedalmond;
    margin: 0 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    label {
      font-family: $titleFont;
      letter-spacing: 1px;
      font-size: 20px;
      color: $secondColor;
      text-align: left;
    }
    input {
      border: 1px solid grey;
      border-radius: 10px;
      height: 40px;
      width: 200px;
      outline: none;
      padding: 0 10px;
      font-family: $normalFont;
      letter-spacing: 1px;
      &:valid {
        background-color: $secondColor;
        color: white;
      }
    }
    .register-textarea {
      border-radius: 10px;
      outline: none;
      padding: 10px;
      font-family: $normalFont;
      letter-spacing: 1px;
      width: 200px;
      margin-top: 16px;
    }
  }
  @media screen and (max-width: 288px) {
    .product-details-input-group {
      width: 150px;
      label {
        font-size: 15px;
      }
      input {
        width: 150px;
        height: 30px;
      }
      .register-textarea {
        width: 150px;
      }
    }
  }
}

.product-details-buttons-container {
  width: 100%;
  min-height: 200px;
  //   background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
