@import "../../variables";
.banner {
  // background-color: red;
  height: 400px;
  width: 100%;
  position: relative;
  img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  h1 {
    position: absolute;
    top: 40%;
    // background-color: red;
    width: 100%;
    margin-bottom: 40px;
    width: 100%;
    font-size: 36px;
    text-align: center;
    padding: 0 50px;
    font-family: $normalFont;
    letter-spacing: 1px;
    line-height: 140%;
    color: white;
  }
  @media screen and (max-width: 704px) {
    h1 {
      font-size: 30px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 620px) {
    h1 {
      font-size: 25px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 351px) {
    h1 {
      font-size: 20px;
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 289px) {
    h1 {
      font-size: 17px;
      padding: 0 20px;
    }
  }
}
