.banner {
  height: 400px;
  width: 100%;
  position: relative;
}

.banner img {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner h1 {
  position: absolute;
  top: 40%;
  width: 100%;
  margin-bottom: 40px;
  width: 100%;
  font-size: 36px;
  text-align: center;
  padding: 0 50px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 140%;
  color: white;
}

@media screen and (max-width: 704px) {
  .banner h1 {
    font-size: 30px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 620px) {
  .banner h1 {
    font-size: 25px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 351px) {
  .banner h1 {
    font-size: 20px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 289px) {
  .banner h1 {
    font-size: 17px;
    padding: 0 20px;
  }
}
/*# sourceMappingURL=Banner.css.map */